{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EducaPlus</title>
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/dist/bootstrap-icons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-personalizado">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <form class="d-flex" action="/search" method="get">
            <input class="form-control me-2 custom-search-bar" type="search" name="q" placeholder="Buscar..."
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#teachModal">Enseña en
                        EducaPlus</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success custom-button" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Iniciar sesión
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success custom-button button-register"
                            data-bs-toggle="modal" data-bs-target="#registerModal">Registrate
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <h5 class="modal-title" id="registerModalLabel">Estudiante</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/register/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="registerName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="registerName" name="name"
                                   pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres" required
                                   maxlength="50">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="registerSurname" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="registerSurname" name="surname"
                                   pattern=".{2,}" title="El Apellido debe tener al menos 2 caracteres"
                                   required maxlength="50">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="registerEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="registerPassword" name="password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
                                   title="La contraseña debe tener una mayuscula, una minuscula, un numero y un caracter especial "
                                   autocomplete="new-password" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="passwordToggle"><i
                                        class="bi bi-eye-fill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="registerPasswordConfirm" class="form-label">Confirmar Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="registerPasswordConfirm"
                                   name="password_confirm"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
                                   title="Las contraseñas no coinciden "
                                   oninput="validatePassword()"
                                   autocomplete="new-password" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="passwordConfirmToggle"><i
                                        class="bi bi-eye-fill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="registerBirthdate" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="registerBirthdate" name="birthdate" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success custom-button">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="teachModal" tabindex="-1" aria-labelledby="teachModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <h5 class="modal-title" id="teachModalLabel">Instructor</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/teach/" method="post" id="teachForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   required pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres"
                                   maxlength="50">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="surname" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="surname" name="surname"
                                   pattern=".{2,}" title="El Apellido debe tener al menos 2 caracteres"
                                   required maxlength="50">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="teachEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="teachEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
                                   title="La contraseña debe tener una mayuscula, una minuscula, un numero y un caracter especial "
                                   autocomplete="new-password" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="passwordToggleB"><i
                                        class="bi bi-eye-fill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirmar Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
                                   title="Las contraseñas no coinciden "
                                   autocomplete="new-password" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="passwordConfirmToggleB"><i
                                        class="bi bi-eye-fill"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="registerBirthdate1" class="form-label">Fecha de nacimiento </label>
                        <input type="date" class="form-control" id="registerBirthdate1" name="birthdate1" required>
                    </div>
                    <div class="mb-3">
                        <label for="specialization" class="form-label">Área de Especialización</label>
                        <select class="form-control" id="specialization" name="specialization">
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Economia">Economia</option>
                            <option value="Humanidades">Humanidades</option>
                            <option value="Medicina">Medicina</option>
                            <option value="Ciencias Juridicas">Ciencias juridicas</option>
                            <option value="Arquitectura">Arquitectura</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success custom-button">Registrase</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="loginEmail" name="email" autocomplete="email"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassword" name="password"
                               autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('passwordToggleB').addEventListener('click', function () {
        let passwordInput = document.getElementById('password');
        let passwordToggleIcon = this.querySelector('i');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove('bi-eye-fill');
            passwordToggleIcon.classList.add('bi-eye-slash-fill');
        } else {
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove('bi-eye-slash-fill');
            passwordToggleIcon.classList.add('bi-eye-fill');
        }
    });


    document.getElementById('passwordConfirmToggleB').addEventListener('click', function () {
        let passwordConfirmInput = document.getElementById('passwordConfirm');
        let passwordConfirmToggleIcon = this.querySelector('i');
        if (passwordConfirmInput.type === "password") {
            passwordConfirmInput.type = "text";
            passwordConfirmToggleIcon.classList.remove('bi-eye-fill');
            passwordConfirmToggleIcon.classList.add('bi-eye-slash-fill');
        } else {
            passwordConfirmInput.type = "password";
            passwordConfirmToggleIcon.classList.remove('bi-eye-slash-fill');
            passwordConfirmToggleIcon.classList.add('bi-eye-fill');
        }
    });


    document.getElementById('passwordToggle').addEventListener('click', function () {
        let passwordInput = document.getElementById('registerPassword');
        let passwordToggleIcon = this.querySelector('i');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove('bi-eye-fill');
            passwordToggleIcon.classList.add('bi-eye-slash-fill');
        } else {
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove('bi-eye-slash-fill');
            passwordToggleIcon.classList.add('bi-eye-fill');
        }
    });

    document.getElementById('passwordConfirmToggle').addEventListener('click', function () {
        let passwordConfirmInput = document.getElementById('registerPasswordConfirm');
        let passwordConfirmToggleIcon = this.querySelector('i');
        if (passwordConfirmInput.type === "password") {
            passwordConfirmInput.type = "text";
            passwordConfirmToggleIcon.classList.remove('bi-eye-fill');
            passwordConfirmToggleIcon.classList.add('bi-eye-slash-fill');
        } else {
            passwordConfirmInput.type = "password";
            passwordConfirmToggleIcon.classList.remove('bi-eye-slash-fill');
            passwordConfirmToggleIcon.classList.add('bi-eye-fill');
        }
    });


    function validatePassword(modalId, passwordId, passwordConfirmId) {
        document.getElementById(modalId).addEventListener('submit', function (event) {
            let password = document.getElementById(passwordId).value;
            let passwordConfirm = document.getElementById(passwordConfirmId).value;

            let passwordElement = document.getElementById(passwordId);
            let passwordConfirmElement = document.getElementById(passwordConfirmId);

            if (password !== passwordConfirm) {
                passwordElement.classList.add('input-error');
                passwordConfirmElement.classList.add('input-error');
                event.preventDefault();
            } else {
                passwordElement.classList.remove('input-error');
                passwordConfirmElement.classList.remove('input-error');
                alert('Registro exitoso');
            }
        });
    }

    function setMaxDate(inputId) {
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0');
        let yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById(inputId).setAttribute("max", today);
    }

    validatePassword('registerModal', 'registerPassword', 'registerPasswordConfirm');
    validatePassword('teachModal', 'password', 'passwordConfirm');

    setMaxDate('registerBirthdate');
    setMaxDate('registerBirthdate1');
</script>
</body>
</html>