{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EducaPlus</title>
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Enlace al archivo de iconos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estiloModal.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-personalizado">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a class="navbar-brand" href="/crearCursos/">Home</a>
        </div>
        <div>
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a href="{% url 'crearDatosCursos' %}" class="btn btn-outline-success custom-button">Nuevo curso</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/person-circle.svg' %}" alt="User Icon" width="25" height="25"
                             class="d-inline-block align-text-top">
                        {{ request.user.first_name.split|first }} {{ request.user.last_name.split|first }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-dark" href="#" data-bs-toggle="modal" data-bs-target="#dialogo2">Ver perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-dark" href="/logout">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<!-- Editar datos personales del instructor-->
<div class="modal fade" id="dialogo2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="exModalLabel">DATOS PERSONALES</h5>
                <button type="button" class="btn-close" name="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- Agregar el formulario con el atributo action y el token CSRF -->
                    <form id="editarPerfilForm" method="post" action="{% url 'updateInstructor' %}">
                        {% csrf_token %} <!-- Agregar el token CSRF -->

                        <!-- Contenido del formulario -->
                        <div class="col-9 col-md-7 offset-md-0 d-flex align-items-center justify-content-end">    <!-- Ajusta el tamaño de la columna y añade justify-content-end -->
                            <div class="profile-icon-container position-relative">
                                <i class="bi bi-person-circle bi-lg icono-perfil" style="font-size: 100px;"></i>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="firstName" class="form-label">Nombre*:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" value="{{ instructor.first_name }}" 
                                    pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}" 
                                    title="Debe contener solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres." 
                                    required>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="lastName" class="form-label">Apellidos*:</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" 
                                    value="{{ instructor.last_name }}" 
                                    pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}" 
                                    title="Debe contener solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres."
                                    required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="dob" class="form-label">Fecha de nacimiento*:</label>
                                <input type="date" class="form-control" id="dob" name="dob" value="{{ instructor.date_of_birth|date:'Y-m-d' }}" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="specialization" class="form-label">Área de especialización*:</label>
                                <select id="specialization" name="specialization" class="form-select" required>
                                    <option value="Tecnología">Tecnología</option>
                                    <option value="Economía">Economía</option>
                                    <option value="Humanidades">Humanidades</option>
                                    <option value="Medicina">Medicina</option>
                                    <option value="Ciencias jurídicas">Ciencias jurídicas</option>
                                    <option value="Arquitectura">Arquitectura</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md text-center">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </div>
                    </form>
                    <!-- Fin del formulario -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dialogo2').on('show.bs.modal', function (event) {
            var modal = $(this);
            $.ajax({
                type: 'GET',
                url: '/obtener-datos-instructor/',  // Ajusta la URL según tu configuración de URLs en Django
                success: function (data) {
                    console.log(data);  // Para verificar la estructura de los datos en la consola
                    modal.find('#firstName').val(data.first_name);
                    modal.find('#lastName').val(data.last_name);
                    modal.find('#dob').val(data.date_of_birth);
                    modal.find('#specialization').val(data.specialization);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);  // Manejo de errores
                }
            });
        });
    });
    function validateFirstName() {
        var firstNameInput = document.getElementById('firstName');
        var firstNameValue = firstNameInput.value.trim();
    
        // Patrón para permitir solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres
        var pattern = /^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$/;
    
        // Validar el valor del campo firstName con el patrón
        if (!pattern.test(firstNameValue)) {
            // Mostrar un mensaje de error
            alert('El nombre debe contener solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres.');
            // Devolver false para indicar que la validación no pasó
            return false;
        }
    
        // La validación pasó, devolver true para indicar que la validación fue exitosa
        return true;
    }
    
    // Asignar la función validateFirstName al evento submit del formulario
    // Asignar la función validateFirstName al evento submit del formulario
    document.getElementById('editarPerfilForm').onsubmit = function () {
        return validateFirstName();
    };
    
    
    function validateLastName() {
        var lastNameInput = document.getElementById('lastName');
        var lastNameValue = lastNameInput.value.trim();
    
        // Patrón para permitir solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres
        var pattern = /^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$/;
    
        // Validar el valor del campo lastName con el patrón
        if (!pattern.test(lastNameValue)) {
            // Mostrar un mensaje de error
            alert('El apellido debe contener solo letras (mayúsculas o minúsculas), incluir espacios si es necesario, y tener entre 2 y 50 caracteres.');
            // Devolver false para indicar que la validación no pasó
            return false;
        }
    
        // La validación pasó, devolver true para indicar que la validación fue exitosa
        return true;
    }

    window.onload = function () {
        var dob = document.getElementById('dob');
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //Enero es 0
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        dob.setAttribute("max", today);
    };

    // Asignar la función validateLastName al evento submit del formulario
    document.getElementById('editarPerfilForm').onsubmit = function () {
        return validateLastName();
    };
    
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>