{% extends 'basest/baseLoginEstudiante.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cardsCurso.css' %}">
    <div class="cursos">
        <h1>Mis cursos</h1>
        <div class="cursos-container">
            <div class="row">
                {% for curso in cursos %}
                    <div class="col-md-3">
                        <a href="#" class="card-link">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ curso.nombre }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Instructor: {{ curso.instructor.user.first_name }} {{ curso.instructor.user.last_name }}</h6>
                                    <p class="card-text">Nivel: {{ curso.nivel }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <div class="col-12 text-center mt-5">
                        <p>Aún no te has inscrito en ningún curso.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}