{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EducaPlus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="left">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="center">
        <ul>
            <li>
                <form action="/search" method="get">
                    <label>
                        <input type="text" name="q" placeholder="Buscar...">
                    </label>
                    <input type="submit" value="Buscar">
                </form>
            </li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li><a >Enseña en EducaPlus</a></li>
            <li>
                <button onclick="location.href='/login'" class="button">Iniciar sesión</button>
            </li>
            <li>
                <button onclick="location.href='/register'" class="button button-register">Registrate</button>
            </li>
        </ul>
    </div>
</nav>
<div class="main-content">
    <h1 id="tit">Categorias</h1>

    <details>
        <summary>Medicina</summary>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
    </details>

    <details>
        <summary>Medici</summary>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
    </details>

    <details>
        <summary>Me</summary>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
    </details>

    <details>
        <summary>Medicin</summary>
        <div class="course-card">
            <div class="left">
                <h2>Curso 1</h2>
                <p>Instructor: Nombre del instructor</p>
                <p>Dificultad: Intermedio</p>
            </div>
            <div class="right">
                <p>Precio: $100</p>
                <button>Comprar ahora</button>
            </div>
        </div>
    </details>
</div>

<footer>
    <h2>Información de la empresa</h2>
    <p>Nombre de la empresa: EducaPlus</p>
    <p>Dirección: Calle 123, Ciudad, País</p>
    <p>Teléfono: 123-456-7890</p>
    <p>Email: info@educaplus.com</p>
</footer>
</body>
</html>