body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #444;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.accordion-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.accordion-header {
    background-color: #f8f8f8;
    padding: 10px 15px;
    cursor: pointer;
}

.accordion-body {
    padding: 15px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-body {
    padding: 15px;
}

#agregar-cont,
#add-content-button {
    background-color: #438e96;
    color: #f2f9f9;
}
#add-section-modal-button{
    background-color: #1a2c32;
    color: #f2f9f9;
}

/*.btn:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.btn-primary {
    margin-top: 20px;
    display: block;
    width: 100%;
}

.fixed-bottom-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 200px; /* Ajusta este valor según sea necesario */
    height: 50px; /* Ajusta este valor según sea necesario */
}